.InfoContainer {
  background: white;
  border: dashed 2px green;

  @media screen and (max-width: 768px) {
    padding: 65px 0;
  }

  .InfoWrapper {
    border: dashed 2px black;
    display: flex;
    z-index: 1;
    min-height: 640px;
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: -24px;
    justify-content: space-around;
  }

  .InfoRow {
    border: 2px solid pink;
    display: grid;
    grid-auto-columns: minmax(auto, 1fr);
    align-items: center;

    grid-template-areas: "col1 col2";
    @media screen and (max-width: 768px) {
      grid-template-areas: "col1 col1" "col2 col2";
    }
  }

  .Column1 {
    margin-bottom: 15px;
    padding: 0 15px;
    grid-area: col1;
  }

  .Column2 {
    margin-bottom: 15px;
    padding: 0 15px;
    grid-area: col2;
  }

  .TextWrapper {
    border: solid 2px purple;
    width: 30vh;

    padding-top: 0;
    padding-bottom: 60px;
  }

  .TopLine {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #01bf71;
    font-size: 2.5vh;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  .header {
    margin-bottom: 24px;
    font-size: 4vh;
    line-height: 48px;
    font-weight: 600;
    color: black;
    padding-bottom: 5px;
    // @media screen and (max-width: 480px) {
    //   font-size: 32px;
    // }
  }

  .Subtitle {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 2vh;
    line-height: 24px;
    color: black;
  }

  .ButtonWrap {
    display: flex;
    justify-content: flex-start;
  }

  .ImgWrap {
    border: solid 2px black;
    width: 30vh;
    height: 30vh;
    display: flex;
    align-items: flex-start;

    .Background {
      margin: 0 0 10px 0;
      padding-right: 0;
      width: 100%;
      height: 100%;
    }
  }
}
